button {
    margin-top: 12px;
}
h2 {
    margin-top: 20px;
    color : rgb(209, 60, 60);
}
.melding {
    padding: 12px 20px 16px 20px;
    margin-top: 16px;
    background-color: rgb(242, 242, 242);
    border-radius: 16px;
}
body {
    padding-top: 5%;padding-bottom: 5%;
}
